@(authzCode: String, authzRequest: oauthze.model.AuthzRequest, authzRequestJsonString: String, client: oauthze.model.Oauth2Client)
@import oauth2.spec.Req
@import grants.UserApproval
@main(title = "User approval") {
  <h1>Application '@client.clientId' requires access to '@authzRequest.authScope'</h1>
  <form action="/oauth/approve" method="POST">
    <input type="hidden" id="@Req.code" name="@Req.code" value="@authzCode">
    <input type="hidden" id="@UserApproval.AuthzRequestKey" name="@UserApproval.AuthzRequestKey" value="@authzRequestJsonString">
    @authzRequest.state.map { state =>
    <input type="hidden" id="@Req.state" name="@Req.state" value="@state">
    }
  	<input type="submit" value="@UserApproval.AllowValue" name="@UserApproval.Allow">
  	<input type="submit" value="@UserApproval.DenyValue" name="@UserApproval.Deny">
  </form>
    
}
